body {
    background-color: #fff;
    font-family: 'Raleway Dots', cursive;
    font-family: 'Raleway', sans-serif;
    color: #999;
}
div.alpha {
  margin: auto;
  text-align: center;
  max-width: 500px;
  padding: 10px;
  border-top: 1px dotted #999;
  border-bottom: 1px dotted #999;
}
div.beta {
  margin: auto;
  text-align: center;
  max-width: 500px;
  padding: 10px;
  border-bottom: 1px dotted #999;
}
div.charlie {
  margin: auto;
  text-align: center;
  max-width: 500px;
  padding: 10px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px dotted #999;
}
h1 {
  font-family: "Raleway Dots", serif;
  color: #666;
  font-weight: lighter;
  font-size: 60px;
}
h2 {
  font-family: "Raleway", serif;
  color: #666;
  font-weight: lighter;
  font-size: 80px;
}
a {
    color: #3399CC;
}
img {
  display: block;
  margin: auto;
}
p {
color: #666;
font-size: 16px;

li {
color: #000;
font-size: 16px;
}
